.footer {
  background: #000;
  text-align: center;
  padding: 30px 20px;
  border-top: 1px solid #1e293b;
}

.footer h3 {
  color:#08afa1;
  margin-bottom: 8px;
}
.fcontainer{background: #000;}

.footer p {
  color: #94a3b8;
  font-size: 14px;
}