.skills {
background: #020617;
}

.section-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.skill-card {
  background: #020617;
  border: 1px solid #1e293b;
  padding: 25px;
  border-radius: 16px;
  transition: 0.3s;
}

.skill-card:hover {
  transform: translateY(-6px);
  border-color: #08afa1;
}

.skill-card h3 {
  margin-bottom: 15px;
  color: #08afa1;
}

.skill-card ul {
  list-style: none;
}

.skill-card li {
  margin-bottom: 8px;
  color: #cbd5e1;
}

/* 📱 Tablet */
@media (max-width: 1000px) {
  .skills-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 📱 Mobile */
@media (max-width: 600px) {
  .skills-grid {
    grid-template-columns: 1fr;
  }
}